<h1><%= @post.title %></h1>
<h2>
  submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %> (<%= @post.user.email %>)<br>
</h2><br>

<% if policy(@post).update? -%>
    <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-success' %>
<% end %>
<% if policy(@post).destroy? -%>
    <%= link_to "Delete", @post, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this post?'} %>
<% end -%>
<% if user_authorized_for_collaboration_post?(@post) -%>
    <%= link_to "Collaboration", post_collaborator_path(@post), class: 'btn btn-primary' %>
<% end -%>
<p></p>
<div class="row">
  <div class="col-md-8">
    <%= markdown(@post.body) %>
  </div>
</div>
